# Google calender variables
GCAL_CLIENT_ID=
GCAL_CLIENT_SECRET=
GCAL_REDIRECT_URI=
GCAL_TOKEN=
GCAL_REFRESH_TOKEN=

# Todoist variables
TODOIST_API_TOKEN=

# Database variables
DATABASE_URL=postgresql://postgres:mypassword@localhost:5432/myapp

# User variables
USER_EMAIL=

# Log variables
RUST_LOG=debug
